<div class="sub-container">
  <div class="text-center">
    <h1 class>Skill Calculator Expansion</h1>
    <hr/>

    <p>This is a expansion to the existing <a href="https://github.com/runelite/runelite/wiki/Skill-Calculator" target="_blank">Skill Calculator</a> plugin inside the <a href="https://www.runelite.net" target="_blank">RuneLite</a> client, which is made for <a href="https://oldschool.runescape.com" target="_blank">Old School RuneScape</a>. This expansion added two new optional tabs to the existing Swing UI: Planner and Banked Exp. Eventually this was decided against as this would require a lot of maintenance, there are websites that offer similar tools, and some of the logic was overly complex.</p>
  </div>

  <div class="text-center">
    <a class="btn btn-success text-center" href="https://github.com/runelite/runelite/pull/3719/files" target="_blank">View the source code</a>
  </div>

  <h1>Banked Experience</h1>
  <p>
    The purpose of this tab was to automate the calculation of experience the user would receive from the items they had accumulated in their bank. This calculation has to account for items being used in multiple activities which reward different experience values and items turning into other items which reward experience while also being customizable for the end-user. These complications, and many other small edge cases, eventually ended up with some overly complex code and was decided against as there are websites which already have this functionality.
  </p>

  <h1>Planner</h1>
  <p>
    The planner tab is a copy of the existing UI with an added a right-click menu for specifying the quantity. The calculation for this is a simple loop which runs every time a change is made to the planner quantities. The existing target level and target experience boxes are also updated to reflect these changes based on this calculation.
  </p>

  <h1>Gallery</h1>
  <hr/>
  <div class="image-gallery">
    <div class="image-container" *ngFor="let image of images; let i=index">
        <img [src]="image[0]" (click)="open(i)"/>
    </div>
  </div>
  <hr/>
</div>
