<div class="sub-container">
  <div class="text-center">
    <h1 class>Loot Tracker</h1>
    <hr/>

    <p>This is a <a href="https://www.runelite.net" target="_blank">RuneLite</a> plugin for <a href="https://oldschool.runescape.com" target="_blank">Old School RuneScape</a> that tracks the items (loot) received from killing monsters or completing specific activities within the game. Although my version was not implemented i helped implement the current version which was announced in <a href="https://runelite.net/blog/show/2018-08-02-1.4.10-Release" target="_blank">this blog post</a> including the API endpoints used for data persistence between client sessions. This plugin is written in Java using Swing for the UI and includes optional local data storage.</p>
  </div>

  <div class="text-center">
    <a class="btn btn-success text-center" href="https://github.com/TheStonedTurtle/runelite/tree/StonedClient/runelite-client/src/main/java/net/runelite/client/plugins/stonedtracker" target="_blank">View the source code</a>
  </div>

  <h1>Boss Logger</h1>
  <p>
    The original name for this plugin was "Boss Logger" as it only supported specific monsters, which were considered by many to be the bosses of the game. This version started with a very rough UI and no layout customization but eventually morphed into the current UI design. Once the descision was made to including all in-game monsters and other players the name was changed to "Loot Tracker". You can view the <a href="https://github.com/runelite/runelite/pull/3545" target="_blank">Original PR</a> i created with this name <a href="https://github.com/runelite/runelite/pull/3545" target="_blank">here</a>.
  </p>

  <h3>Differences</h3>
  <p>
    The official Loot Tracker plugin can be viewed <a href="https://github.com/runelite/runelite/wiki/Loot-Tracker" target="_blank">here</a>, with the main difference being the UI and optional local data storage capabilities. The functionality behind determining the loot received is identical but the UI they went with was created by another developer. The UI i created included reading from the local data files and a replay system which cycles through the loot for a specific activity in chronological order.
  </p>

  <h1>Gallery</h1>
  <hr/>
  <div class="image-gallery">
    <div class="image-container" *ngFor="let image of images; let i=index">
        <img [src]="image[0]" (click)="open(i)"/>
    </div>
  </div>
  <hr/>
</div>
