/* You can add global styles to this file, and also import other style files */
html, body { 
  height: 100%;
  background: #1F1F1F;
  color: white;
}

body{
  padding-top: 25px;
}

.card {
  height: 100% !important;
}

.center-text {
  text-align: center;
}

.bold {
  font-weight: bold;
}