<div class="sub-container">
    <div class="text-center">
      <h1 class>Kept Items</h1>
      <hr/>

      <p>
        This is a <a href="https://www.runelite.net" target="_blank">RuneLite</a> plugin that reworks the existing "Items Kept on Death" interface for <a href="https://oldschool.runescape.com" target="_blank">Old School RuneScape</a>. The game servers were experiencing targeted ddos attacks which resulted in the game developers implementing "temporary" death mechanics, which have since been in place for over 3 years. This plugin is written in Java and is an open-sourced contribution that was merged on Jun 18th, 2019.
      </p>
    </div>
  
    <div class="text-center">
      <a class="btn btn-success text-center" href="https://github.com/runelite/runelite/pull/6669/files" target="_blank">View the source code</a>
    </div>
    
    <h1>Gallery</h1>
    <hr/>
    <div class="image-gallery">
      <div class="image-container" *ngFor="let image of images; let i=index">
          <img [src]="image[0]" (click)="open(i)"/>
      </div>
    </div>
    <hr/>
  </div>
  