<div class="sub-container">
  <div class="center-text">
    <h1 class>RPDeath</h1>
    <hr/>

    <img src="/assets/imgs/RPDeath/card.png" />

    <p>RPDeath is a <a href="https://fivem.net" target="_blank">FiveM</a> script written in Lua that is used to enhance the role-playing experience of dead/hurt players. Enabling this script prevents automatic respawning and changes the respawn points to one of the 5 in-game hospitals.</p>
    
    <p>When a player dies their body will stay in place and a 5 timer starts after which the player can respawn/revive themselves. During this time another player can respawn/revive them, which is commonly used for Paramedic role-playing.</p>
  </div>

  <div class="center-text">
    <a class="btn btn-success center-text" href="https://github.com/TheStonedTurtle/FiveM-RPDeath" target="_blank">View the source code</a>
  </div>
  <br/>

  <h1 class="d-none d-sm-block center-text">Video demonstration</h1>
  <!-- 16:9 aspect ratio -->
  <div class="d-none d-sm-block col-sm-12 col-md-8 offset-md-2 embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_E__t26pSnw"></iframe>
  </div>
</div>
