<div class="container-fluid">
  <!-- Header -->
  <div class="row">
    <div class="d-md-none col-sm-12">
      <figure class="center-text">
        <img class="img-fluid rounded-circle" src="/assets/imgs/me.png" alt="Picture"/>
      </figure>
    </div>

    <div class="col-sm-12 col-md-6 custom-flex">
      <div class="center-text">
        <h1>Michael Goodwin</h1>
        <h4>Developer / Gamer / Enthusiast</h4>
        <br/>

        <ul class="fix-list">
          <li>
            <span class="fas fa-envelope"></span> <a href="mailto:mgoodwin559@gmail.com">mgoodwin559@gmail.com</a>
          </li>
          <li>
            <span class="fas fa-map-marker-alt"></span> Fresno, California
          </li>
        </ul>

        <div class="buttons center-text">
          <a class="btn btn-dark" href="/pdf/resume.pdf" target="_blank">View Resume</a>
          <button class="btn btn-dark" routerLink="/projects">Fun Projects</button>
        </div>

        <div class="media-links">
            <a href="https://www.github.com/MichaelGoodwin" target="_blank" class="fab fa-github"></a>
            <a href="https://stackoverflow.com/users/7108103/michael-goodwin" target="_blank" class="fab fa-stack-overflow"></a>
        </div>
      </div>
    </div>
      
    <div class="d-none d-md-block col-md-6">
      <figure>
        <img class="img-fluid rounded-circle" src="/assets/imgs/me3.png" alt="Picture"/>
      </figure>
    </div>
  </div>

  <hr/>

  <!-- About me -->
  <div class="row">
    <div class="d-none d-md-block col-md-6">
      <figure class="text-right">
          <img class="img-fluid" src="/assets/imgs/about.png" />
      </figure>
    </div>

    <div class="col-sm-12 col-md-6">
      <h1>About me</h1>
      <p>
        Hello, I'm Michael Goodwin, a Full-stack developer based in Fresno, California. I have primarily worked with the MEAN (MongoDB, Express, Angular, Nodejs) stack but am eager to learn new languages and frameworks.
      </p>
      
      <a class="btn btn-dark" href="/pdf/resume.pdf" target="_blank">View Resume</a>
    </div>
  </div>

  <hr/>

  <!-- Projects -->
  <div class="row">
    <div class="col-sm-12 col-md-6 text-right">
      <h1>Projects</h1>
      <p>
        During my free time I enjoy working on side projects and contributing to open source repositories. I mostly make add-ons for existing video games, such as Old School RuneScape and FiveM, which required me to learn languages outside my professional usage.
      </p>
      
      <button class="btn btn-dark" routerLink="/projects">View Projects</button>
    </div>    

    <div class="d-none d-md-block col-md-6">
      <img class="img-fluid" src="/assets/imgs/projects.png" />
    </div>
  </div>

</div>